{
  "AZURE_SEARCH_API_KEY": "XX"
  "BASIC_AUTH_USER": "XX",
  "BASIC_AUTH_PASS": "XX",
  "DB_URL": "XX",
  "DB_KEY": "XX",
  "OGD_USER": "XX",
  "OGD_PASS": "XX",
  "OPSS_USER": "XX",
  "OPSS_PASS": "XX"
  "NOTIFY_API_KEY": "XX",
  "UKAS_USER": "XX",
  "UKAS_PASS": "XX"
}